/* */

body {
    background-color: rgb(207, 23, 17);
}

header {
background-color: aqua;
color: aliceblue;
height: 100px;
}

nav {
    background-color: rgba(212, 209, 245, 0.26);
    height: 60px;
    text-align: center;
}
section{
    background-color: aqua;
    height: 66px;
}
article {
    background-color: beige;
    height: 75px;
}

footer {
    background-color: rgb(179, 16, 16);
    text-align: right;
    height: 20px;
}
.jaune {
    background-color: aliceblue;
}

#noir {
    background-color: darkblue;
    color: #fff;
    text-align: center;
    
    font-size: 25px;
    height: 100px;
                            
}