.container{
    width: 1300px;
    margin: 30px auto;
}
header{
    background-color:#8E3557 ;
}
nav{
    background-color:#4A1A2C ;
    height: 50px;
    padding-left: 2em;
    line-height: 45px;
    text-align: center;
}
nav a{
    color: white;
    font-size: 20px;
    padding-left: 2em;
    border-right: 1px white solid;
    padding-right: 2em;
    text-decoration: none;
}
nav a:last-child{
    border-right: none
}
footer{
    background-color: palevioletred;
    height: 100px;
}
section div{
    display: inline;
    
}

