body{
    background: rgb(177, 233, 177);
    box-sizing: border-box;
    padding: 0% 35%;
}
.container{
    margin-top: 20px;
    width: 100%;
    border: 1px solid green;
    background: white;
    
}


header div{
    height: 150px;
}
nav{
    background-color: rgb(183, 230, 122);
    box-shadow: 0px 1px 5px rgb(199, 195, 195);
}
nav ul{
    display: flex;
    flex-direction: row;
    padding: 0%;
}
nav li{
    padding: 0% 1.65em;
    list-style-type: none;
    border-right: 1px solid white;

}
nav a {
    text-decoration: none;
    color: white;
}
main section{
    padding: 0% 1em 0% 5em;
    text-indent: 10%;
}
main section h1{
    border-bottom: 1px solid lightgreen;
}
main section p:nth-child(odd){
    text-indent: 0%;
}
.barre{
    border-left: 2px solid lightgreen;
    text-indent: 0%;
    width: 95%;
    float: right;
}
footer{
    color: lightgreen;
    text-align: right;
}