body{
    background: rgb(177, 233, 177);
    box-sizing: border-box;
    padding: 0% 30%;
}
.container{
    margin-top: 20px;
    width: 100%;
    border: 1px solid green;
    background: white;
    
}
header{
    display: flex;
    height: 258px;
    background: no-repeat url(file:///C:/xampp/htdocs/sorenn%20html_css/img/apple.jpg);
    flex-direction: row-reverse;
}
/* header div{
    background: url(file:///C:/xampp/htdocs/sorenn%20html_css/img/title.gif) no-repeat;
    width: 397px;
    height: 68px;
    margin: 10px 20px 0px 0px;
} */
header a{
    background: url(file:///C:/xampp/htdocs/sorenn%20html_css/img/title.gif) no-repeat;
    width: 397px;
    height: 68px;
    margin: 10px 20px 0px 0px;
    opacity: 1;
    color: transparent;
}
.text{
    margin-top: 10px;
    margin-left: 20px;
}
nav{
    background-color: rgb(183, 230, 122);
    box-shadow: 0px 1px 5px rgb(199, 195, 195);
}
nav ul{
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin-top: 0%;
}
nav li{
    width: 20%;
    text-align: center;
    list-style-type: none;
    border-right: 1px solid white;
    background-image:url(file:///C:/xampp/htdocs/sorenn%20html_css/img/bg_menu.gif);

}
nav a {
    text-decoration: none;
    color: white;
}
main{
    background: url(file:///C:/xampp/htdocs/sorenn%20html_css/img/bg_page.gif) no-repeat 15px 20px ;
    padding-left: 10px;
    padding-top: 10px;
}
main section{
    padding: 0% 1em 0% 5em;
    text-indent: 5%;
    text-align:start;
}
main section h1{
    border-bottom: 1px solid lightgreen;
    margin-top: 0%;
    text-indent: 0%;
    line-height: 16px;
    color: yellowgreen;
}
main section h1 p{
    line-height: 22px;
    margin: 0%;
}
main section h1 img{
    float: left;
}
main section p:nth-child(odd){
    text-indent: 0%;
    line-height: 22px;
}
.barre{
    border-left: 2px solid lightgreen;
    text-indent: 0%;
    width: 95%;
    float: right;
}
footer{
    color: lightgreen;
    text-align: right;
}
span{
    background-color: yellow;
}
main div{
    float: left;
    margin: 20px 0px 0px 10px;
}