body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
/*.parent1{
    width: 350px;
    height: 350px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: flex-start;
}
.parent2{
    width: 350px;
    height: 350px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}
.parent3{
    width: 350px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}
*/
.parent1{
 width: 110px;
    height: 330px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content:space-between;
/* margin: 1px; */
}
.parent2{
    width: 120px;
    height: 400px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: flex-start;
}
.parent3{
 
    height: 350px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: flex-start;
}
.vert{
    width: 50px;
    height: 50px;
    /* margin: 1px; */
    border: 1px solid black;
    border-radius: 10% 20% 30% 40%;
    background-color: green;
}
.bleu{
    height: 50px;
    width: 50px;
    /* margin: 1px; */
    border: 1px solid black;
    border-radius: 40% 0% 40% 0%;
    background-color: aqua;
}
.turquoise{
    height: 50px;
    width: 50px;
    /* margin: 1px; */
    border: 1px solid black;
    border-radius: 50%;
    background-color: aquamarine;
}
.rose{
    height: 50px;
    width: 50px;
    /* margin: 1px; */
    border: 1px solid black;
    border-radius: 20% 40% 20% 40%;
    background-color: salmon;
}
.vide{
    height: 50px;
    width: 50px;
    /* margin: 1px; */


}
.rouge{
    height: 50px;
    width: 50px;
    /* margin: 1px; */
    border: 1px solid black;
    border-radius: 20% 40% 20% 40%;
    background-color: red;
}