body{
    border: 3px solid darkred;
    height:1000px;
}
header{
    background-color: brown;
    color: white;
    height: 10%;
}
nav{
    height: 5%;
    background-color: darkred;
    color: white;
}
section{
    height: 60%;
    background-color: darkgoldenrod;
    color: white;
}
footer{
    background-color: darkred;
    color: white;
    height: 10%;
}
